.body {
margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #212226;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}
.timeline-container {
    margin-top:30px;
    padding: 10px 80px 30px;
    position: absolute;
    bottom: 0px;
    width: 100%
}
.timeline-container {
    margin-top:0px;
    border-top: 1px #eeeeee solid;
}


.owl-nav {
    position: absolute;
    top: 60px;
    width: 89%;
    left: 83px;
}
/*owl carousel styles*/
.owl-carousel .owl-dots .owl-dot {
    background: #fff;
    border:solid;
    border-width:1px;
    border-color: #bfbfbf;
}
.owl-carousel .owl-dots .owl-dot.active {
    background:#417638;
}

.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translate3d(0px, 0, 0);
}
.owl-stage-outer {
    top: -16px;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/*timeline slider styles*/
.timeline-slide {
    max-width: 350px;
    margin: 2.2rem 0 0 0;
    width: 100%;
    background-color: inherit;
    position: relative;
}
.timeline-slide .circle {
    border: 4px #eae100 solid;
    background-color: #e0d806;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-redius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 51.6%;
    margin-left: -15px;
    top: -33px;
    z-index: 2000;
    overflow: visible;
}
.timeline-copy {
    font-size: 0.7em;
    color: #fff;
    background-color: inherit;
    margin: 1rem;
    padding-bottom: 5px;
    border: solid 1px #fff;
}
.timeline-slide .vertical-line {
    border-left: 1px #eeeeee solid;
    height: 18px;
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    top: -18px;
    z-index: 1000;
}
.timeline-slide .timeline-copy h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.timeline-slide .timeline-copy {
    padding: 1rem 0.5rem;
    color: #000;
    text-align: center;
}
.timeline-slide .timeline-copy p {
    margin-bottom: 0px;
    font-size: 13px;
    margin-top: 11px;
    padding: 0px 17px;
}
.timeline-container {
  margin-top:20px;
  padding-top:6px;
}
.timeline-container .owl-stage {
    margin-left:18px;
}
.owl-carousel .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    background: #e6c996;
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
}
.owl-carousel .owl-dots {
    text-align: center;
    margin-top:1em;
    display: none;
}
.owl-carousel .owl-nav .owl-prev {
   width: 55px;
    height: 36px;
    background: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-left-512.png) no-repeat center;
    border: solid transparent;
    position: relative;
    left: -14px;
    background-size: cover;
}
.owl-carousel .owl-nav .owl-next {
        width: 36px;
    height: 35px;
    background: url(https://cdn.iconscout.com/icon/free/png-256/chevron-thin-right-1859438-1577834.png) no-repeat center;
    border: solid transparent;
    position: absolute;
    right: 0px;
    background-size: cover;
}
.owl-prev span {
  display:none;
}
.owl-next span {
  display:none;
}
/* .owl-prev, .owl-next {

} */

button:focus {outline:0;}

@media screen and (max-width: 560px) {
  .timeline-slide {
    margin-top: 4.2rem;
    margin-left: 3.5rem;
  }
}
